/* Archive/Blog Styling
------------------------------------------------------------ */

body.archive,
body.blog {
    .post {
        border-bottom: 1px solid #ccc;
        padding-bottom: 40px;
        margin-bottom: 50px;
    }
}
