/* Skip to Main Content - Accessibility Link
------------------------------------------------------------ */

.skip-to-main-content {
    position:absolute;
    left:-10000px;
    top:0;
    width:1px;
    height:1px;
    overflow:hidden;
    &:focus {
        left:0;
        width:auto;
        height:auto;
        margin: 10px;
        z-index: 999999;
    }
    &:hover {
        text-decoration:underline;
    }
}
