/* Variables
------------------------------------------------------------ */

$widgetFontColor: #333;
$widgetBgColor: #f5f5f5;
$widgetBorderColor: #e3e3e3;

$commentBgColor: #fff;
$singleCommentBgColor: #f5f5f5;
$singleCommentPostAuthorBgColor: #fcf8e3;
