/* Variables
------------------------------------------------------------ */

$galleryCaptionColor: #220e10;

$widgetFontColor: #333;
$widgetBgColor: transparent;
$widgetBorderColor: #e3e3e3;

$commentBgColor: #fff;
$singleCommentBgColor: #f5f5f5;
$singleCommentPostAuthorBgColor: #fcf8e3;
