/* Widget Styling
------------------------------------------------------------ */

// default widget styles
.widget {
    @extend .clearfix;

    ul {
        padding-left: 0;

        ul {
            padding-left: $padding-large-horizontal;
        }
    }

    li {
        list-style-type: none;
        word-wrap: break-word;
        padding-bottom: $padding-large-vertical;

    }

    table {
        @extend .table;
        @extend .table-condensed;
    }

    // Handle the missing padding from .panel-body when no widget title is used
    > .search-form {
        padding: 10px 15px;
    }

}

.widget_search {
    .search-query {
        margin-bottom: 10px;
    }
}

// includes ID in selector for specificity
.widget_calendar #wp-calendar {
    th, td {
        padding: 0;
    }
}