.alignleft,
.alignright,
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: $screen-md-min) {
    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }

    .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.alignleft {
        margin: 5px 20px 5px 0;
    }

    .wp-caption.alignleft {
        margin: 5px 10px 5px 0;
    }

    img.alignright {
        margin: 5px 0 5px 20px;
    }

    .wp-caption.alignright {
        margin: 5px 0 5px 10px;
    }

    img.aligncenter {
        margin: 5px auto;
    }

    img.alignnone {
        margin: 5px 0;
    }
}

.wp-caption .wp-caption-text,
.entry-caption, .gallery-caption {
    color: $galleryCaptionColor;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

img.wp-smiley,
.rsswidget img {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
    list-style-position: inside;
}
