/*
    Theme Name: Bootstrap Genesis
    Theme URL: http://ironcodestudio.com/bootstrap-genesis-theme/
    Description: Bootstrap Genesis Child Theme. Currently using boostrap 2.3.2
    Author: salcode
    Author URI: http://ironcodestudio.com/
    Version: 0.6.0
    Template: genesis
*/
